<%- include('partials/header'); -%> 

<h1>
    This is the show template..
</h1>

<div>
    <p>
        <%= campground.name %> 
    </p>
    <img src="<%= campground.image %>">
    <p>
        <%= campground.description %>
    </p>
</div>

<%- include('partials/footer'); -%> 